{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <style>
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"> 
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"> 
   <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"> 


    <title>sinup Page</title>
  </head>
  <body>
  
    {% if error %}
        <p>{{error}}</p>
    {% endif %}    
    <section class="form-01-main">
      {% csrf_token %}
      <div class="form-cover">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="form-sub-main">
              <div class="_main_head_as">
                <a href="#">
                  
                  
                 
                </a>

              </div>
              {{ form.as_p }}

              <div class="form-group">
                <div class="btn_uy">
                  <a href="#"><span type = "submit">Sinup</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>